datasets/
prev_work/
memray-flamegraph-main.py.6114.html
*/__pycache__/
__pycache__/
.DS_Store
results/*
results/
models/*
emissions.csv
models/*
Results_MH_rnn.txt
Results_UV_rnn.txt
results.zip
_*
create_datasets/
